/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column ;
    align-content: space-between;
    
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    min-width: 320px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    flex-wrap: wrap;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}



.topHeaders {
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 0 50px;
}

.logoTop {
    margin-top: 15px;
    height: 25px;
    width: 60px;
}

.containerLienHeader {
    width: 100%;
    border-top: 3px solid var(--main-color);
    padding: 14px 0px;
    height: 15px;

}

nav {
    margin-left: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    
}

.headersLiens {
    text-decoration:none;
    color: black;
    
}
.hebergementsLien {
    margin-left: auto;
    width: auto;
}



.activitesLienContainer {
    margin-left: 70px;
    border-top:3px solid #D9D9D9;
}

.searchFilters {
    display: flex;
    flex-direction: column;
}

.searchFilters > div   { 
    margin: 15px;
}




.topPub {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottomPub {
    font-size: 18px;
}

.champRecherche {
    display: flex;
    flex-direction: row;

}

.logoGeoBackground {
    border-radius: 13px 0px 0px 13px;
    padding: 11px;
    background-color: rgb(227, 212, 212);
    padding-left: 13px;
}

#rechercher {
    width: 250px;
    font-size: 15px;
    border-color: rgb(227, 212, 212);
    border-left-style: solid;
    border-top-style: solid;
    
}

.buttonRecherche {
    background-color: rgb(0, 101, 252);
    color: white;
    border:none;
    border-radius: 0px 13px 13px 0px;
    padding: 15px;
    font-size: 20px;
}

.boutonMobile {
    display: none;
}

.iconeFiltre {
    filter: brightness(1.4) invert(0.5) sepia(0.9) hue-rotate(180deg) saturate(385%);
    height: 28px;
    vertical-align: middle;
    
}


.iconesFiltresEtNoms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

.titleFilter {
    line-height: 50px
}

.nomFiltre {
    margin-left: 7px;
}

.filtre {
    border: 2px solid #D9D9D9;
    margin-left: 15px;
    border-radius: 27px;
    padding: 10px;
    
}




.filtre:hover {
    background-color: rgb(0, 101, 252);
    cursor: pointer;
    color: white;
    
}

.filtre i {
    font-size: 18px;
}

.filtre:hover > i {
    color: white;
}



.titreEtFiltres {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}

.logoInformation {
    color: var(--main-color);
    border: 2px solid var(--filter-bg-color);
    padding: 5px 10px;
    border-radius: 30px;
    
}

.nbLogementsDispo {
    margin-left: 5px;
}

.hotelCard img {
    height: 136px;
    border-radius: 20px;
    width: 100%;
    
}



.card-content {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.hotelCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

.hotelCardList a {
    color: black;
    text-decoration: none;
}

.hotelCard {
    width: 250px;
    margin-top: 33px;
}

.infosHotel {
    width: 90%;
    margin: 0 auto;
}

.activiteMarseille {
    
    box-sizing: border-box;
}

.cardPostMarseille {
    width: 300px;
    padding: 0px;
    margin-top: 33px;
}

.imageCardPost {
    height: 400px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.activityMarseilleTitle {
    width: 90%;
    margin: 0 auto;
}

.textCardActivity {
    padding: 14px 8px;
}

.allCardActivity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;   
    
}

.allCardActivity a {
    color: black;
    text-decoration: none;
}

.footerOffSet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 80%;

}

footer {
    background-color: var(--main-bg-color);
    
    padding: 0px 22px;
    margin: 100px auto 0 auto;
    width: 90%;
}

.sectionFooter {
    display: flex;
    flex-direction: column;
    
}

.sectionFooter span {
    display: flex;
    flex-direction: column;
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0 15px;
    }
    .footerOffSet {
        flex-direction: column;
    }
    #sectionHebergement {
        background-color: white;
    }
    .hebergementsLien {
        margin-left: 0px;
    }
    .topHeaders {
        flex-direction: column;
        padding: 0px;
    }
   .logoTop {
        margin: 0 auto;
        margin-top: 15px;
   }
   nav {
        width: 100%;
   }
   .headersLiens {
        margin: 0 auto;
}
   .containerLienHeader {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid var(--main-color);
        border-top: 0px;
        margin-left: 0px;
   }
   .activitesLienContainer {
        border-bottom:3px solid #D9D9D9;
   }
   .titreEtFiltres {
        flex-direction: column;
        
   }
   .filtre {
    margin-left: 0px;
   }
   .iconesFiltresEtNoms {
        height: 200px;
        justify-content: space-around;
   }
   .boutonMobile {
    display: block;
    
   }
   .boutonMobile i {
        color: white;
   }
   .boutonDesktop {
    display: none;

   }
   .cardPostMarseille {
        width: 350px;
    }
    .imageCardPost {
        height: 130px;
    }
    
    /* ... */

}

@media (min-width:767.99px) and (max-width:1024px) {
    .cardPostMarseille {
        width: 180px;
    }
    .imageCardPost {
        height: 230px;
    }
}

